{% extends "../../base.html" %}
{% load static %}
{% block body %}
    <style>
        .padding20 {
            padding: 20px;
        }
    </style>
    <div class="layui-form padding20" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">套餐</label>
            <div class="layui-input-block">
                <input type="text" disabled name="title" required lay-verify="required" placeholder=""
                       autocomplete="off" class="layui-input" value="基础版">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block">
                <input type="text" disabled name="title" required lay-verify="required" placeholder=""
                       autocomplete="off" class="layui-input" value="生效中">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">到期时间</label>
            <div class="layui-input-block">
                <input type="text" disabled name="title" required lay-verify="required"
                       autocomplete="off" class="layui-input" value="{{ customer.available_till | date:'Y-m-d' }}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">剩余监控任务数量</label>
            <div class="layui-input-block">
                <input type="text" disabled name="title" required lay-verify="required" placeholder=""
                       autocomplete="off" class="layui-input" value="{{ taskLeft }}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">剩余询盘采集数</label>
            <div class="layui-input-block">
                <input type="text" disabled name="title" required lay-verify="required" placeholder=""
                       autocomplete="off" class="layui-input" value="{{ customer.comment_num_left }}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">剩余达人监控数</label>
            <div class="layui-input-block">
                <input type="text" disabled name="title" required lay-verify="required" placeholder=""
                       autocomplete="off" class="layui-input" value="{{ peerLeft }}">
            </div>
        </div>
    </div>

    <script>
        $(function () {
            okLoading.close();
        })
    </script>
{% endblock body %}