{% extends "../../base.html" %}
{% load static %}
{% block body %}

    <table class="layui-hide" id="tableId" lay-filter="tableFilter"></table>
<script>
	layui.use(["table", "form", "laydate", "okLayer", "okUtils"], function () {
		let table = layui.table;
		let form = layui.form;
		let util = layui.util;
		let laydate = layui.laydate;
		let okLayer = layui.okLayer;
		let okUtils = layui.okUtils;
		okLoading.close();
		util.fixbar({});

		laydate.render({elem: "#startTime", type: "datetime"});
		laydate.render({elem: "#endTime", type: "datetime"});

		let articleTable = table.render({
			elem: "#tableId",
			url: '/loginLogging',
            method: 'POST',
			limit: 20,
			page: true,
			even: true,
			toolbar: "#toolbarTpl",
			size: "lg",
			cols: [[
				{field: "ip",align:'center', title: "登录IP", width: 180},
				{field: "browser",align:'center', title: "浏览器信息", width: 650},
				{field: "created_at",align:'center', title: "登录时间", width: 220},
				{field: "location",align:'center', title: "登录地", width: 180},
				{field: "method",align:'center', title: "登录方式", width: 180},
			]],
			done: function (res, curr, count) {
				console.log(res, curr, count)
			}
		});

		form.on("submit(search)", function (data) {
			articleTable.reload({
				where: data.field,
				page: {curr: 1}
			});
			return false;
		});

		table.on("toolbar(tableFilter)", function (obj) {
			switch (obj.event) {
				case "batchEnabled":
					batchEnabled();
					break;
				case "batchDisabled":
					batchDisabled();
					break;
				case "batchDelete":
					batchDelete();
					break;
				case "add":
					add();
					break;
			}
		});

		table.on("tool(tableFilter)", function (obj) {
			let data = obj.data;
			switch (obj.event) {
				case "updateById":
					updateById(data.id);
					break;
				case "deleteById":
					deleteById(data.id);
					break;
			}
		});

		function batchEnabled() {
			okLayer.confirm("确定要批量上架吗？", function (index) {
				layer.close(index);
				let idsStr = okUtils.tableBatchCheck(table);
				if (idsStr) {
					okUtils.ajax("/product/update-product-status", "put", {idsStr: idsStr}, true).done(function (response) {
						okUtils.tableSuccessMsg(response.msg);
					}).fail(function (error) {
						console.log(error);
					});
				}
			});
		}

		function batchDisabled() {
			okLayer.confirm("确定要批量下架吗？", function (index) {
				layer.close(index);
				let idsStr = okUtils.tableBatchCheck(table);
				if (idsStr) {
					okUtils.ajax("/product/update-product-status", "put", {idsStr: idsStr}, true).done(function (response) {
						okUtils.tableSuccessMsg(response.msg);
					}).fail(function (error) {
						console.log(error);
					});
				}
			});
		}

		function batchDelete() {
			okLayer.confirm("确定要批量删除吗？", function (index) {
				layer.close(index);
				let idsStr = okUtils.tableBatchCheck(table);
				if (idsStr) {
					okUtils.ajax("/product/deleteProduct", "delete", {idsStr: idsStr}, true).done(function (response) {
						okUtils.tableSuccessMsg(response.msg);
					}).fail(function (error) {
						console.log(error);
					});
				}
			});
		}

		function add() {
			okLayer.open("添加产品", "product-add.html", "90%", "90%", null, function () {
				articleTable.reload();
			})
		}

		function updateById(id) {
			okLayer.open("编辑产品", "product-edit.html?id=" + id, "90%", "90%", null, function () {
				articleTable.reload();
			})
		}

		function deleteById(id) {
			okLayer.confirm("确定要删除吗？", function () {
				okUtils.ajax("/product/deleteProduct", "delete", {idsStr: id}).done(function (response) {
					okUtils.tableSuccessMsg(response.msg);
				}).fail(function (error) {
					console.log(error);
				});
			})
		}
	})
</script>
<!-- 行工具栏模板 -->
<script type="text/html" id="operationTpl">
	<a href="javascript:" title="删除" lay-event="deleteById"><button type="button" class="layui-btn layui-btn-primary layui-border-orange">数据追踪</button></a>
	<a href="javascript:" title="删除" lay-event="deleteById"><button type="button" class="layui-btn layui-btn-primary layui-border-orange">取消关注</button></a>
</script>
<script type="text/html" id="logoTpl">
{% verbatim %}
	<img src="{{d.avatar}}"/>
{% endverbatim %}
</script>

<script type="text/html" id="nameTpl">
{% verbatim %}
	<a href="{{d.title}}" target="_blank">{{d.title}}</a>
{% endverbatim %}
</script>
    <script>
        $(function () {
            okLoading.close();
        })
    </script>
{% endblock body %}