{% extends "../../base.html" %}
{% load static %}
{% block body %}
    <style>
        .padding20 {
            padding: 20px;
        }
    </style>
    <form class="layui-form padding20" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">原密码</label>
            <div class="layui-input-block">
                <input type="text" name="oldPass" required lay-verify="required" placeholder="请输入原密码"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">新密码</label>
            <div class="layui-input-block">
                <input type="text" name="newPass" required lay-verify="required" placeholder="请输入新密码"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">确认密码</label>
            <div class="layui-input-block">
                <input type="text" name="newPass2" required lay-verify="required" placeholder="请确认密码"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="formDemo">立即提交</button>
            </div>
        </div>
    </form>

    <script>
        $(function () {
            okLoading.close();
        })
        layui.use(['form','layer'], function () {
            var form = layui.form;
            var layer = layui.layer;
            form.on('submit(formDemo)', function (data) {
                $.post('/updatePass',data.field,function (res) {
                    layer.msg(res.msg);
                    if (res.code == 1){
                        alert(res.msg);
                        window.location.href = window.location.href;
                    }
                });
                return false;
            });
        });
    </script>
{% endblock body %}